@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'simplified-chinese';
    src: url('./assets/NotoSansSC-VariableFont_wght.ttf');
}

html{
    font-family: 'simplified-chinese';
}