@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'simplified-chinese';
  src: url('./assets/NotoSansSC-VariableFont_wght.ttf');
}

html {
  font-family: 'simplified-chinese';
}

h1 {
  @apply text-2xl
}

.btn {
  @apply text-sm font-bold py-1 px-2 rounded;
  @apply bg-black text-white;
}

.btn:hover {
  @apply bg-white text-black;
  outline: solid black;
}

.input {
  outline: solid blue 1px;
  @apply px-1;
  @apply uppercase;
}

.input:read-only {
  outline: none;
}
