@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: 'simplified-chinese';
  src: url('./assets/NotoSansSC-VariableFont_wght.ttf');
} */

html {
  /* font-family: 'simplified-chinese'; */
  @apply bg-zinc-300
}

h1 {
  @apply text-2xl
}

h2 {
  @apply text-xl
}

.btn {
  @apply text-sm font-bold py-1 px-2 rounded;
  @apply bg-black text-white;
}

.btn:hover {
  @apply scale-110
}

.btn-red {
  @apply text-sm font-bold py-1 px-2 rounded;
  @apply bg-red-700 text-white;
}

.btn-red:hover {
  @apply bg-white text-red-700;
  outline: solid red 2px;
}


.input {
  outline: solid blue 2px;
  @apply p-2;
  @apply uppercase;
}

.input:active {
}

.input:focus{
}

.input:read-only {
  outline: none;
}
